c/tak

callisto/tak

codon/tak

csharp/bin
csharp/obj
csharp/tak
csharp/tak.pdb

cython/build
cython/tak.c
cython/tak.cpython*

dlang/tak
dlang/tak.o

fortran/tak

go/tak

haskell/tak
haskell/tak.hi
haskell/tak.o

java/Tak.class

lbforth/lbforth

ocaml/tak.cmi
ocaml/tak.cmo
ocaml/tak.exe

rust/tak

uxntal/tak.rom*

zig/tak
zig/tak.o
