# Default to ignoring "tak"
*/tak

csharp/bin
csharp/obj
csharp/tak.pdb

cython/build
cython/tak.c
cython/tak.cpython*

dlang/tak.o

haskell/tak.hi
haskell/tak.o

java/Tak.class

lbforth/lbforth

ocaml/tak.cmi
ocaml/tak.cmo
ocaml/tak.exe

uxntal/uxnmin
uxntal/tak.rom*

zig/tak.o
